#menu-line {background-color: #EEEEEE;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #A0A0A0;
}
A.menu {
    color: #000;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
}
A.menu:hover {COLOR: #888888}
p {line-height: 100%; margin: 6; text-indent: 20}
h1 {color: navy; }
.tit {font-size: 32px; color: navy; font-family: arial; font-weight: bold; background-color: #EEEEEE;}

@media (min-width: 1000px) { 
.body_div {width:1000px; margin:0 auto;}
}